{% extends "base.html" %}
{% block title%}New User Form{% endblock%}
{% block content %}
<div>
    <form method="get,post">
        <section>
            <label>First Name:
                <input type="text" placeholder="Enter a first name">
            </label>
        </section>
        <section>
            <label> Last Name:
                <input type="text" placeholder="Enter a last name">
            </label>
        </section>
        <section>
            <label>Image URL
                <input type="text" placeholder="Provide an image for this user">
            </label>
        </section>
    </form>
</div>

<button>Add User</button>
{% endblock %}