{% extends "base.html" %}
{% block title%}New Post{% endblock%}
{% block content %}
<div>
    <form id="new_post_form" action="/users/{{user.id}}/posts/new" method="POST">
        <section>
            <label for="title">Title
                <input name="title" type="text">
            </label>
        </section>
        <section>
            <label for="content"> Content
                <textarea name="content"></textarea>
            </label>
        </section>
        <section>
            <label for="tag-choice">Choose a tag:</label>


            <fieldset>
                {% for tag in tags %}

                <section>
                    <input list="tag-list" id="tag-choice" name="tag-choice" type="checkbox" value="{{tag.id}}">
                    <label> {{tag.name}} </label>
                </section>

                {% endfor %}
            </fieldset>



        </section>
        <section id="post_cancel_button">
            <button formmethod="GET" formaction="/">Cancel</button>
        </section>
        <section id="post_add_button">
            <button>Add</button>
        </section>
    </form>
</div>






{% endblock %}