{% extends "base.html" %}
{% block title%}Edit Tag{% endblock%}
{% block content %}
<div>
    <form id="edit_post_form" action="" method="GET">
        <label for="edit_new_tag">Name:
            <input name="edit_tag_name" type="text" value="{{tag.name}}">
        </label>
        <section id="tag_cancel_button">
            <button formmethod="GET" formaction="/">Cancel</button>
        </section>
        <section id="tag_edit_button">
            <button formmethod="POST" formaction="/tags/{{tag.id}}/edit">Edit</button>
        </section>
    </form>
</div>


{% endblock %}