{% extends "base.html" %}
{% block title%}{{user.first_name}}'s Details{% endblock%}
{% block content %}
<div>
    <section>
        <img src="{{user.image_url}}" width="100" height="100">
    </section>
    <section>
        {{user.first_name}} {{user.last_name}}
    </section>
    <section>
        <form>
            <button formaction="/users/{{user.id}}/edit">Edit</button>
        </form>
    </section>
    <section>
        <form>
            <button name="delete_button" formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button>
        </form>
    </section>
    <div>
        <button><a href="/users/{{user.id}}/posts/new">Add a Post</a></button>
    </div>
    <div id="user's_posts">{{user.first_name}}'s Posts
    </div>
    <div>
        <section>{% for each in user.posts %}
            <li><a href="/posts/{{each.id}}">{{each.title}}</a></li>
            {% endfor %}</section>
    </div>

</div>

{% endblock %}